body {
  background-image: url(/img/difuminadocelui2.jpg);
}

nav {
  background-color: white;
}

nav nav li {
  font-size: 20px;
}

nav hover li {
  -webkit-transform: 10px;
          transform: 10px;
}

nav .navbar-toggler {
  color: #ff0058 !important;
}

nav img {
  border-radius: 10px;
}

nav .collapse .button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 12px;
  border-radius: 500px;
  overflow: hidden;
  background: #f14066;
  color: ghostwhite;
}

nav .collapse .button span {
  position: relative;
  z-index: 10;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

nav .collapse .button:hover span {
  color: black;
}

nav .collapse .button::before,
nav .collapse .button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

nav .collapse .button::before {
  content: "";
  background: #252525;
  width: 120%;
  left: -10%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1), -webkit-transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

nav .collapse .button:hover::before {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.presentacion {
  margin-top: 110px;
}

.nosotros-cartel {
  margin-bottom: 70px;
}

.nosotros-cartel .nosotros-cartel a {
  background-color: #9b1230;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
}

.nosotros img {
  max-width: 300px;
  border-radius: 30px;
}

.nosotrosinfo {
  text-align: center;
  border-radius: 30px;
  margin-bottom: 40px;
  text-align: left;
  padding: 50px;
}

.nosotros .nosotrosinfo h3, .nosotros .nosotrosinfo p {
  padding: 15px;
}

.background {
  border-radius: 50px;
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.preproducto {
  padding: 10px;
}

.preproducto a {
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  margin-top: 20px;
  background-color: #9b1230;
}

.servicios {
  margin-top: 6 0px;
}

.servicios .servicios img {
  max-width: 300px;
}

.servicios .tarjetaser {
  border-radius: 20px;
}

.servicios .tarjetaser img {
  border-radius: 10px;
}

.proyectos a {
  text-decoration: none;
}

.proyectos .card {
  width: 24rem;
  border-radius: 20px;
}

.proyectos img {
  border-radius: 10px;
}

footer {
  background-color: #cecece;
}

footer .btn {
  background-color: #777777;
  border-radius: 10px;
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

footer .maps iframe {
  border-radius: 20px;
  width: 300px;
  height: 500px;
}

footer .fotooficina img {
  text-align: center;
  max-width: 160px;
  border-radius: 20px;
}

.prueba {
  /* From uiverse.io by @adamgiebl */
}

.prueba .card {
  margin: 20px;
  margin-top: 200px;
  position: relative;
  width: 190px;
  height: 254px;
  background: lightgrey;
  -webkit-box-shadow: #d11bff42 0 15px 40px -5px;
          box-shadow: #d11bff42 0 15px 40px -5px;
  z-index: 1;
  border-radius: 21px;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */